.table-users {
    margin: 0px 100px;
    background-color: aliceblue;
}

body {
    background-color: lightgray;
    direction: ltr;
    text-align: left !important;
    margin-top: 200px;
}

.button-create {
    margin: 0px 100px;
}

.icone-panel {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.icone-panel-edite {
    color: #ee964b;
    font-size: 25px;
    cursor: pointer;
    padding-left: 10px;
}

.icon-panel-delete {
    color: #d00000;
    font-size: 25px;
    cursor: pointer;
}
.button-modal{
    text-align: center;
    padding-bottom: 30px;
}
.select-width{
    width: 210px;
}
.major-selected{
    width: 435px;
}
.close-modal-cancel{
    background-color: #d00000;
}
.table-responsive{
    width: unset;
}
.form-control:focus {
    box-shadow: unset;
}